@model Hospital_Management.Models.PathologyTest

@{
    ViewBag.Title = "Pathology Test";
    Layout = "~/Views/Shared/_LayoutHM.cshtml";
}



@using (Html.BeginForm(null, null, FormMethod.Post, new { autocomplete = "off" }))
{
    @Html.AntiForgeryToken()


    <div class="container-fluid">
        <div class="card card-default">

            <div class="card-body">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Test_id, htmlAttributes: new { @class = "" })
                            @Html.EditorFor(model => model.Test_id, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                            @Html.ValidationMessageFor(model => model.Test_id, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="col-sm-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Test_Name, htmlAttributes: new { @class = "" })
                            @Html.EditorFor(model => model.Test_Name, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                            @Html.ValidationMessageFor(model => model.Test_Name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Paitent_Id, htmlAttributes: new { @class = "" })
                            @Html.EditorFor(model => model.Paitent_Id, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                            @Html.ValidationMessageFor(model => model.Paitent_Id, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Outdoor_Id, htmlAttributes: new { @class = "" })
                            @Html.EditorFor(model => model.Outdoor_Id, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                            @Html.ValidationMessageFor(model => model.Outdoor_Id, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "" })
                            @Html.EditorFor(model => model.Type, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                            @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Fee, htmlAttributes: new { @class = "" })
                            @Html.EditorFor(model => model.Fee, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                            @Html.ValidationMessageFor(model => model.Fee, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "" })
                            @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control form-control-sm",type="date" } })
                            @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Test_by, htmlAttributes: new { @class = "" })
                            @Html.EditorFor(model => model.Test_by, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                            @Html.ValidationMessageFor(model => model.Test_by, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>



                <div class="row">
                    <div class="offset-sm-8 col-sm-2">
                        <input type="submit" value="Clear" class="btn btn-block bg-gradient-danger btn-sm" />
                    </div>
                    <div class="col-sm-2">
                        <input type="submit" id="btnSubmit" value="Submit" class="btn btn-block bg-gradient-primary btn-sm" />
                    </div>


                </div>

            </div>

        </div>
    </div>






}





